<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.UserMapper">
    <!-- select 根据id查询 -->
    <select id="findById" parameterType="int" resultType="User">
        select id,name,age,address,gmt_create,gmt_modified from user where id=#{id}
    </select>
    <!--查询所有-->
    <select id="findUserAll" resultType="User">
        select id,name,age,address, gmt_create,gmt_modified from user
    </select>
    <!--向user插入一条数据-->
    <insert id="insert" parameterType="User">
         insert into user
         (id,name,age,address, gmt_create,gmt_modified)
         values (#{id},#{name},#{age},#{address},#{gmtCreate},#{gmtModified})
    </insert>
    <!--<resultMap id="usermap" type="User">id,name,age,address,
        <id column="id" javaType="BIGINT" property="id"/>
        <result column="name" javaType="VACHAR" property="name"/>
        <result column="age" javaType="INT" property="age"/>
        <result column="address" javaType="VACHAR" property="address"/>
        <result column="gmtCreate" javaType="DATETIME" property="gmt_create"/>
        <result column="gmtModified" javaType="DATETIME" property="gmt_modified"/>
    </resultMap>-->
</mapper>